<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p" xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
			
		<bean id="activityOperationAction" class="com.huihuan.gmp.actions.management.ActivityOperationAction" scope="prototype" />
		<bean id="leaderOperationAction" class="com.huihuan.gmp.actions.management.LeaderOperationAction" scope="prototype" />
		<bean id="rewardOperationAction" class="com.huihuan.gmp.actions.management.RewardOperationAction" scope="prototype" />
		<bean id="carOperationAction" class="com.huihuan.gmp.actions.management.CarOperationAction" scope="prototype" />
		<bean id="peasantOperationAction" class="com.huihuan.gmp.actions.management.PeasantOperationAction" scope="prototype" />
		<bean id="equipmentOperationAction" class="com.huihuan.gmp.actions.management.EquipmentOperationAction" scope="prototype" />
		<bean id="schoolOperationAction" class="com.huihuan.gmp.actions.management.SchoolOperationAction" scope="prototype" />
		<bean id="bannerOperationAction" class="com.huihuan.gmp.actions.management.BannerOperationAction" scope="prototype" />
		<bean id="userOperationAction" class="com.huihuan.gmp.actions.management.UserOperationAction" scope="prototype" />
		<bean id="goodOperationAction" class="com.huihuan.gmp.actions.management.GoodOperationAction" scope="prototype" />

	</beans>